* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  
}

.frame {
  height: 100vh;
  display: flex;
  flex-direction: column;
  transform-origin: top;
  transform: scale(0.8);
  width: 600px;
  margin: 20px auto;
  height: 100vh;
  text-align: center;
}

.tableBody {
  max-width: 100%;
}

#income-input {
    /* flex: 1 1 0%; */
    margin-right:1rem;
}

#add-btn {
    cursor: pointer;
}

.bi-trash{
  color: red;
  font-size: 1.3rem;
  cursor: pointer;
}

.bi-trash:hover {
  transform: scale(1.2);
}